form > .mc {
	font-family: "Gill Sans", Palatino, et-book, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	background-color: #fffff8;
	color: #111;
	font-size: 1.5em;
	margin-bottom: 1rem;
}

form > label.mc {
	font-weight: bold;
}


#mc-email {
	width: 20rem;
	border: 2px solid #999;
}

#mc-submit {
	width: 10rem;
	border: 2px solid #999;
}